<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Google Crawler" %> </h1>
  <%= if @current_user do %>
     <p>Please <%= link "upload", to: Routes.upload_path(@conn, :new) %> a csv to begin. </p>
  <% else %>
    <p>Please login or register to continue</p>
  <% end %>
</section>
