.upload {
  &__form {
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    padding-top: 1rem;

    .upload-button {
      padding: 1rem;
      margin-top: 1rem;
    }

    form {
      padding: 0rem 2rem 0rem;
    }
  }
}
