.keyword.index .table {
  th, td {
    padding: 0.2rem;
    width: 100px;
  }

  td.count{
    padding-left: 3rem;
  }
}

.keyword.index .filter-form {
  border-right: 1px solid black;
  padding-right: 1.5rem;
}
